// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li {
    list-style: none !important; 
}

.sportslist {
    border-radius: 50%!important;
    width: 1.5rem;
    height: 1.5rem;
}

.extra {
  margin-top: 50px; 
}