// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li {
    list-style: none !important; 
}

.logo {
    height: 3rem;
}


.github {
    border-radius: 50%; 
    height: 4rem;
    padding-left: 10px; 
}

.sportslist {
    margin-left: 10px; 
}


.extra {
  margin-top: 50px; 
}

.list-inline-item {
    font-size: 16px !important;  
}

.terminal {
    height: 1rem; 
}

.toplogo {
    height: 2.5rem; 
}